button#add-button
  position: absolute
  bottom: 15vw
  right: 15vw
  border: none
  background: transparent
  box-sizing: border-box
  width: 80px
  height: 80px
  padding: 0
  border-radius: 50%
  svg
    width: 80px
    height: 80px
    color: #FFB20F
