@import ../colors

$checkbox-size: 24

li.todo
  display: flex
  padding: 15px 10px
  align-items: center
  justify-content: space-between
  &.completed
    background: #ddd
  div.todo-text
    margin-left: 15px
    width: 60vw
    overflow-wrap: break-word
  div.left-float
    display: flex
    align-items: center
  button
    margin: 0
    padding: 0
    height: 24px
    margin-right: 10px
    border: none
    background: transparent
    cursor: pointer
    font-size: 24px
    font-weight: bold
    color: #{$bad}

li.todo div.left-float label.checkbox-label
  display: block
  position: relative
  height: #{$checkbox-size}px
  width: #{$checkbox-size}px
  input[type='checkbox']
    position: absolute
    opacity: 0
    cursor: pointer
    &:checked ~ .fancy-checkbox
      border: 5px solid #{$primary}
  .fancy-checkbox
    position: absolute
    top: 0px
    left: 0px
    height: #{$checkbox-size}px
    width: #{$checkbox-size}px
    box-sizing: border-box
    background-color: transparent
    border-radius: 50%
    transition: all 0.2s ease-out
    -webkit-transition: all 0.2s ease-out
    border: 2px solid #888

// animations

li.todo
  &.todo-enter
    opacity: 0
    transform: translate(0, 50px)
    &.todo-enter-active
      opacity: 1
      transform: translate(0, 0)
      transition: all 500ms ease-in
  &.todo-exit
    opacity: 1
    transform: scale(1) translate(0, 0)
    &.todo-exit-active
      opacity: 0
      transform: scale(0) translate(0, 50px)
      transition: all 500ms ease-in

li.todo.completed
  &.todo-enter
    transform: scale(0) translate(0, -50px)
    &.todo-enter-active
      transform: scale(1) translate(0, 0)
  &.todo-exit
    transform: translate(0, 0)
    &.todo-exit-active
      transform: translate(0, -100px)